div.center{
    margin-top: 120px;
    margin-left: 15px;
    margin-right: 15px;
  }

  div.lesson-header{
    background-color:var(--ion-color-purple);
  }

  a.prayer-details{
    font-size:14px;
    color:rebeccapurple;
    text-decoration: none;
  }

  p.quote-reference{
    font-weight: normal;
    font-size:12px;
    color:white;
  }

  div.img-wrapper {
    height: 200px;
    width:100%;
    overflow: hidden;
    margin-bottom: 8px;
    margin-top: 15px;
    align-items: center;
  }

  img.mask{
    mask-image: linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0));
    
  }

  .searchbar-input {
    border: 0 !important;
    box-shadow: none !important;
    --border-radius: 14px;
  }

  div.overlay{
    width:100%;
    height:150;
    position:absolute;
    z-index: 99;
    bottom:0px;
    opacity: 0.5;
    --background: rgba(0,0,0,0.5)!important;
    color:#FFF;
    
  }

 
  

  