h1.lesson{
    font-weight: bold;
    font-size:24px;
}

h1.prayer-description{
    font-weight: bold;
    font-size:22px;
    color: black;
    
}

h1.category-title{
    font-weight: bold;
    font-size:24px;
    color:var(--ion-color-burgundy)
}
h1 {
    font-weight: 600;
    font-size: 24px;
    color:#FFFFFF;
  }