h3.welcome{
    font-weight: normal;
    font-size: 18px;
    color:#FFFFFF;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }

  h3.prayer{
    font-weight: normal;
    font-size: 18px;
    color:#FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }

  h3.prayer-name-bold{
    font-weight: bold;
    font-size: 18px;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }

  h3.prayer-name-normal{
    font-weight: normal;
    font-size: 18px;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }