h3.welcome{
    font-weight: normal;
    font-size: 18px;
    color:#FFFFFF;
    font-style: italic;
    
  }

  h3.prayer{
    font-weight: normal;
    font-size: 18px;
    color:#FFFFFF;
   
  }

  h3.prayer-name-bold{
    font-weight: bold;
    font-size: 18px;
    color:black;
    
  }

  h3.prayer-name-normal{
    font-weight: normal;
    font-size: 18px;
    color:black;
    
  }

  h3.arabic-ayah{
    font-weight: 500;
    font-size:32px;
    font-family: "Uthmanic";
}

h3.translation{
    font-size:14px;
   
}
h3.title{
  font-weight: 600;
  font-size:24px;

}

h3.arabic{
  font-weight: 500;
  font-size:36px;
}
