h4.ayah-details-purple{
    font-size:12px;
    color:#551A8B;
}

h4.ayah-details-razimic{
    font-size:12px;
    color:#875692;
}

h4.ayah-details-burgundy{
    font-size:12px;
    color:#912968;
}

h4.ayah-details-dark-brown{
    font-size:12px;
    color:#af5f76;
}

h4.title{
    font-weight: bold;
    font-size:16px;
    
}

h4.name{
    font-weight: 600;
    font-size:24px;
  
}

h4.reciter{
    font-size:16px;
    
}
