ion-row.border-top-razimic{
    border-top: 1px solid #875692;
}

ion-row.border-top-purple{
    border-top: 1px solid #551A8B;
}

ion-row.border-top-burgundy{
    border-top: 1px solid #912968;
}

ion-row.border-top-dark-brown{
    border-top: 1px solid #af5f76;
}