ion-toggle.burgundy{
    --background:#912968;
    --background-checked:#912968;

    --handle-background:#912968;
    --handle-background-checked:#912968;
}

ion-toggle.brown{
    --background:#C77A58;
    --background-checked:#C77A58;

    --handle-background:#C77A58;
    --handle-background-checked:#C77A58;
}

ion-toggle.dark-brown{
    --background:#af5f76;
    --background-checked:#af5f76;

    --handle-background:#af5f76;
    --handle-background-checked:#af5f76;
}

ion-toggle.purple{
    --background:#551A8B;
    --background-checked:#551A8B;

    --handle-background:#551A8B;
    --handle-background-checked:#551A8B;
}

ion-toggle.razimic{
    --background:#875692;
    --background-checked:#875692;

    --handle-background:#875692;
    --handle-background-checked:#875692;
}