ion-content.bg-image-isha{
    --background: url(./../../assets/images/isha.jpg) no-repeat center/cover fixed;
  }
  
  ion-content.bg-image-fajr{
    --background: url(./../../assets/images/fajr.jpg) no-repeat center/cover fixed;
  }
  
  ion-content.bg-image-sunrise{
    --background: url(./../../assets/images/fajr.jpg) no-repeat center/cover fixed;
  }
  
  ion-content.bg-image-pre-dhuhr{
    --background: url(./../../assets/images/dhuhr.jpg) no-repeat center/cover fixed;
  }
  
  ion-content.bg-image-dhuhr{
    --background: url(./../../assets/images/dhuhr.jpg) no-repeat center/cover fixed;
  }
  
  ion-content.bg-image-pre-asr{
    --background: url(./../../assets/images/asr.jpg) no-repeat center/cover fixed;
  }
  
  ion-content.bg-image-asr{
    --background: url(./../../assets/images/asr.jpg) no-repeat center/cover fixed;
  }
  
  ion-content.bg-image-pre-maghrib{
    --background: url(./../../assets/images/asr.jpg) no-repeat center/cover fixed;
  }
  ion-content.bg-image-maghrib{
    --background: url(./../../assets/images/maghrib.jpg) no-repeat center/cover fixed;
  }
  
  ion-content.bg-image-late-isha{
    --background: url(./../../assets/images/isha.jpg) no-repeat center/cover fixed;
  }
  ion-content.bg-image-standard{
    --ion-background-color:#F5ECEA;
  }

  ion-content.bg-image-burgundy-gradient{
    --background:linear-gradient(180deg,rgba(140,36,128,1) 0%,rgba(157,49,128,1) 35%,rgba(206,88,125,1) 100%)
  }

  ion-content.bg-image-burgundy-purple{
    --background:linear-gradient(180deg,rgba(13,20,65,1) 0%,rgba(40,53,132,1) 35%,rgba(100,134,183,1) 100%)
  }