ion-button.no-shadow {
  --box-shadow: none;
}

ion-button {
  text-transform: none;
}

ion-back-button.white{
  color:#FFFFFF;
}

ion-button.white{
  --background: rgba(255,255,255);
}

ion-button.burgundy {
  --background: rgba(85, 26, 139, 1);
}

ion-button.pressed{
  --background: rgba(255,255,255,.3);
}
ion-button.menu{
  --border-radius: 14px;
}

ion-fab-button.white{
  --background: rgba(255,255,255);
}

ion-icon.white{
  --background: rgba(255,255,255);
}

ion-icon.black{
  --background: rgba(0,0,0);
}
