ion-card.lesson {
  box-shadow: none;
  border-radius: 14px;
  width: 80%;
  height: 130px;
}

ion-card.lesson-header {
  box-shadow: none;
  border-radius: 14px;
  
}

ion-card.prayer {
  border-radius: 14px;
  box-shadow: none;
  margin-top: 35px;
}

ion-card.white {
  --background: rgba(255, 255, 255);
}

ion-card.transparent {
  --background: rgba(255, 255, 255, 0.2);
  --border-radius: 14px;
  color: #ffffff;
}
ion-card.category {
  box-shadow: none;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 0px;
  padding: 10px;
}


ion-card-subtitle.white{
  color:#FFFFFF;
}

ion-card-subtitle.black{
  color:black;
}

ion-card-title.black{
  color:black;
}

ion-searchbar{
  .searchbar-input-container{
    input{
      color:black;
    }
    --background: rgba(255, 255, 255);
  }
}
