ion-item.welcome{
    --background: rgba(255,255,255,.2);
    color: #FFFFFF;
  }

  ion-item.activated{
    --background: rgba(255,255,255,.5);
    color: #FFFFFF;
  }

  ion-item.lesson-note{
    --background: #FFFFFF;
      
  }

  ion-item {
    --border-radius: 14px;
    margin-bottom: 15px;
   
  }

  ion-item.border-purple{
    border-left: var(--ion-color-purple) 5px solid;
  }

  ion-item.border-razimic{
    border-left: var(--ion-color-razimic) 5px solid;
  }

  ion-item.border-burgundy{
    border-left: var(--ion-color-burgundy) 5px solid;
  }

  ion-item.border-brown{
    border-left: var(--ion-color-brown) 5px solid;
  }

  ion-item.border-dark-brown{
    border-left: var(--ion-color-dark-brown) 5px solid;
  }

  ion-item.recitatio{
    border-radius: 20px 20px 0px 0px;
  }

  ion-item.reciter{
    --background: rgba(255,255,255,.1);
    padding: 0;
    margin: 20px 0;
    --border-radius: 14px;
    color: #FFFFFF;
        
  }

  ion-item.shadow{
    box-shadow: 0 0 3px 0 var(--ion-color-medium);
  }

  ion-item.purple{
    --background: rgba(85,26,139,.8);
  }

  ion-item.burgundy{
    --background: rgba(145,41,104,.8);
  }

  ion-item.brown{
    --background: rgba(199,122,88,.8);
  }

  ion-item.razimic{
    --background: rgba(135,86,146,.8);
  }

  ion-item.dark-brown{
    --background: var(--ion-color-dark-brown)
  }
  ion-item.white{
    --background: #FFFF;
  }

  ion-item.lesson {
    --border-radius: 14px;
    margin-bottom: 15px;
    
    
    h4{
      font-weight: bold;
      font-size:18px;
      color:#FFFFFF;
      }
      h1 {
        font-weight: 600;
        font-size: 24px;
        color:#FFFFFF;
      }
   
  }

  ion-item.transparent{
    background-color: transparent;
  }

  ion-list.transparent{
    background-color: transparent;
  }

  ion-list.white{
    background-color: #FFF;
    border-radius: 14px;
  }

  ion-list.razimic{
    background-color: rgba(135,86,146,.8);
    border-radius: 14px;
  }

  ion-item.white-line{--border-color: #fff;}  
  