ion-button{
    text-transform: none;
    
}
ion-card.category{
    box-shadow: 0;
    border-radius: 14px;
    background: rgba(255,255,255,.8);
    margin-bottom: 0px;
    padding:10px;
}

h3.title{
    font-weight: 600;
    font-size:24px;
  
}

ion-row{
    padding-bottom: 0px;
}
h4.title{
    font-weight: bold;
    font-size:18px;
    
}

h6.title{
    font-weight: 300;
    font-size:14px;
    padding-top: 0px;
}

h1.category-title{
    font-weight: bold;
    font-size:24px;
    color:var(--ion-color-burgundy)
}







