ion-toolbar.player{
    --background: var(--ion-color-burgundy);
    background: var(--ion-color-burgundy);
    padding: 0px;
    
}

ion-card.surah{
    box-shadow: none;
    border-radius: 20px;
    
    position:relative;
    margin-left:15px;
    margin-right:15px;
    margin-top:0px;
}

div.note{
  font-family: Yu Gothic UI Light;
  margin-left:15px;
  margin-right:15px;
  font-size:16px;
}

div.overlay{
  width:100%;
  height:150;
  position:absolute;
  z-index: 99;
  bottom:0px;
  opacity: 0.5;
  --background: rgba(0,0,0,0.5)!important;
  color:#FFF;
  
}



img.mask{
  mask-image: linear-gradient(to top,rgba(0,0,0,.7),rgba(0,0,0,0.4));
  
}

ion-item.reciter{
  --background: rgba(255,255,255,.1);
      padding: 0;
      margin: 20px 0;
      --border-radius: 14px;
      color: #FFFFFF;
      
}

ion-note.reciter{
    font-size:16px;
    font-family: Yu Gothic UI Light;
}

ion-avatar.play{
    background-color: var(--ion-color-oker)!important;
    margin: auto;
    margin-top:0px;
    width: 60px;
    height: 60px;
    --border-radius: 50%;
    margin-bottom:5px;
  }

 h6.note{
  font-weight: 500;
  font-size: 36px;
  color:#FFFFFF;
  
}

h6.arabic{
    font-weight: 500;
    font-size: 48px;
    color:#FFFFFF;
  }

  ion-icon{
    margin-bottom: 5px;
  }

  ion-label.progress{
    font-size:16px;
    font-family: Yu Gothic UI Light;
  }

ion-label.button{
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:400;
}

ion-button.menu{
  --border-radius: 14px;
}
