ion-item {
  --border-radius: 14px;
  margin-bottom: 15px;
 
}
ion-avatar.surah {
  --border-radius: 30%;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 0;
  margin: 14px 0;
  background: rgba(255,255,255,.1);
}

.searchbar-input {
  border: 0 !important;
  box-shadow: none !important;
  --border-radius: 14px;
}

ion-avatar.burgundy{
  background-color: var(--ion-color-burgundy);
}

ion-avatar.brown{
  background-color: var(--ion-color-brown);
}

ion-avatar.oker{
  background-color: var(--ion-color-oker);
}

ion-avatar.razimic{
  background-color: var(--ion-color-razimic);
}

ion-avatar.purple{
  background-color: var(--ion-color-purple);
}

h1 {
  font-weight: 600;
  font-size: 24px;
  color:#FFFFFF;
}

h4.name{
    font-weight: 600;
    font-size:24px;
  
}

h3.arabic{
    font-weight: 500;
    font-size:36px;
}

